vendor/
node_modules/

storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/laravel.log

#public/storage

npm-debug.log
composer.lock
package-lock.json

storage/*.key

.env.*.php
.env.php
.env
